body {
  padding: 0;
  margin: 0;  
}

header, .hero-container, .info-section-container, .quote-section-container, .action-section-container {
    border: 1px solid red;
    padding-left: 150px;
    padding-right: 150px;
}

header, .header-links, .hero-container, .info-section-container, .quote-section-container, .action-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header, .hero-container {
    background-color: #1F2937;
}

header p{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

* {
    font-family: "Roboto", serif;
}

.header-links {
    gap: 40px;
}

.header-links p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero-container {
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero-text, .hero-image {
    width: 50%;
    height: 200px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
    margin-bottom: 15px;
}

.hero-text p {
    color: #E5E7EB;
    font-size: 18px;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

button {
    width: 75px;
    height: 30px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #E5E7EB;
}

.info-section-container, .quote-section-container {
    flex-direction: column;
}

.info-section-facts {
    display: flex;
    gap: 30px;
}

.info-fact {
    width: 120px;
    height: 180px;
    border: 1px solid aqua;
    padding: 20px;
}

.info-img {
    width: 100%;
    height: 65%;
    border: 1px solid brown;
}

.info-txt {
    width: 100%;
    height: 30%;
    border: 1px solid orange;
    text-align: center;
}

.quote-section-container {
    height: 250px;
    background-color: #E5E7EB;
}

.quote-text, .quote-author {
    border: 1px solid magenta;
    width: 75%;
}
.quote-text p {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quote-author {
    text-align: right;
}

.action-section-container {
    height: 200px;
}

.call-to-action {
    background-color: #3882F6;
    width: 80%;
    height: 40%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.action-text {
    border: 1px solid lime;
    width: 60%;
    color: #E5E7EB;
}

h4 {
    margin: 0;
    font-size: 22px;
}

.action-btn button {
    border: 1px solid white;
}

.action-text p {
    margin: 0;
}